.section {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
  height: 40rem;
  min-height: 100%;
  line-height: initial;
  padding-left: var(--page-padding-horizontal);
  padding-right: var(--page-padding-horizontal);
}
