// variables
:root {
  --font-mono: system-ui, -apple-system, BlinkMacSystemFont, ui-monospace, Menlo,
    Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  // Colors
  --color-primary: #ff4800;
  --color-link-text: #292929;
  --color-light-dark-text: #1e1b1b;
  --color-page: #000000;
  --button-text-color-primary: #ffffff;
  --button-text-color-secondary: #ff4800;
  --color-light-black: #1d1d1f;
  --color-white: #ffffff;
  --color-navbar: #ffffff;
  --color-navbar-border: rgb(223, 227, 231);
  --color-black: #000000;
  --color-blue: #a6d9ff;
  --color-yellow: #f9f748;
  --color-grey: #d9d9d9;
  --color-dark-grey: #4c4c4c;
  --color-light-grey: #e7e5e6;
  --color-light: #dae0ec;
  // --color-light: #e2dccc;
  --color-light-yellow: #fbeeca;
  --color-button-hover: #2a9b5f;

  // Sizes
  --max-width: 1800px;
  --nav-header-height: 72px;
  --button-radius-border: 4px;
  --button-border-width: 2px;
  --button-padding-vertical: 8px;
  --button-padding-horizontal: 36px;
  --button-nav-padding-vertical: 6px;
  --button-nav-padding-horizontal: 30px;
  --button-line-height: 24px;
  --page-padding-horizontal: 3rem;
  --section-padding-vertical: 3rem;
  --border-radius: 12px;

  // Font sizes
  --font-size-h1: 3.8rem;
  --button-text-weight: 500;
  --font-weight-h1: 600;
  --font-weight-nav-links: 500;
  --hero-title-padding-top: 6rem;
  --font-size-hero-text: 1.2rem;
  --hero-line-height: 25px;
  --medium-line-height: 30px;
  --paragraph-line-height: 25px;
  --paragraph-font-weight: 400;
  --button-font-size: 1rem;
  --font-size-nav-links: 1rem;
  --font-section-title-size: 2.1rem;
  --font-size-small-title: 1.7rem;
  --font-section-title-weight: 600;

  // Styles
  --button-border-style: solid;
  --button-text-decoration: none;
  --border-params: solid 1px;

  //  Breakpoints
  --xs-breakpoints: '400px'; // for small screen mobile
  --sm-breakpoints: '600px'; // for mobile screen
  --md-breakpoints: '910px'; // for tablets
  --lg-breakpoints: '1160px'; // for laptops
  --xl-breakpoints: '1440px'; // for desktop / monitors
  --xxl-breakpoints: '1920px'; // for big screens
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: var(--max-width);
  min-width: 320px;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-page);
}

body,
__#next {
  height: 100%;
  width: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-mono);
}

// .mobile_nav_open {
//   @media screen and (max-width: ${({theme}) => theme.size.md}) {
//     overflow: hidden;
//   }
// }

main {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--nav-header-height);
}

p {
  line-height: 23px;
}

.no_select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
li {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
