.list__items {
  position: relative;
  width: auto;
  cursor: pointer;

  @media screen and (max-width: var(--md-breakpoints)) {
    width: 100%;
  }
}

.dropdown__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  z-index: 10;
  &:after {
    display: none;
  }

  @media screen and (max-width: var(--md-breakpoints)) {
    width: 100%;
    margin-right: 0;
    text-align: start;
    padding: 0;
  }
}

.arrow__icon {
  font-size: 1rem;
  margin-left: 3px;

  @media screen and (max-width: var(--md-breakpoints)) {
    margin-left: auto;
    margin-right: 3px;
    font-size: 2.6rem;
    transform: rotate(-90deg);

    &.show {
      transform: rotate(0deg);
    }
  }
}
