.container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-left: var(--page-padding-horizontal);
  padding-right: var(--page-padding-horizontal);
  flex-direction: column;

  @media screen and (max-width: 540px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
